*.pyc
company/*.pyc
company/migrations/*.pyc
company/migrations/*.py
department/*.pyc
department/migrations/*.py
department/migrations/*.pyc
employee/*.pyc
employee/migrations/*.py
employee/migrations/*.pyc
log/*.pyc
log/migrations/*.py
log/migrations/*.pyc
schedule/*.pyc
schedule/migrations/*.py
schedule/migrations/*.pyc
*.sqlite3
db.sqlite3