{% extends "base.html" %}
{% load schedule_tag %}

{% block title %}
LCB1 & LCMT 
{% endblock %}


   {% block stylesheet %}
   <style type="text/css">
   table {
    max-width: 100%;
	}

    th {
    background-color: #C0DAFF;
    color: black;
	}
	</style>
    {% endblock stylesheet %}


{% block content %}
<div class="container">

	{% next_month now as on_next_month %}
	{% previous_month now as on_previous_month %}

	<h1>Work schedule on {{now|date:"F Y"}}   

		{% if mode == 'status' %}

			{% if department %}
				<a href="{% url 'schedule:section-monthly' section now.year now.month %}"><i class="fa fa-retweet" style="font-size:24px;color:blue"></i></small></a>
			{%else%}
				<a href="{% url 'schedule:section-monthly' section now.year now.month %}"><i class="fa fa-retweet" style="font-size:24px;color:blue"></i></a>
			{% endif %}
			
		{% else %}
			<!-- <a href="{% url 'schedule:list' %}?{{ request.GET.urlencode }}&mode=status"><small><small><small>status mode</small></small></small></a> -->

			<a href="?{% query_transform request mode='status' %}"><i class="fa fa-retweet" style="font-size:24px;color:red"></i></a>

		{% endif %}

		<a href="?{% query_transform request mode='ta' %}">
				<i class="fa fa-clock-o" style="font-size:24px;color:gray"></i></a>
	</h1>

		

		<a href="{% url 'schedule:section-list' %}"><i class="fa fa fa-bars" style="font-size:24px;color:blue"></i></a>  
		<a href="{% url 'schedule:section-monthly' section on_previous_month.year on_previous_month.month %}"><small>{{on_previous_month|date:"F Y"}}</small></a> | 
		{% if department %}
			<a href="{% url 'schedule:section-detail' section %}"><small>Current Month</small></a>
		{% else %}
			<a href="{% url 'schedule:section-detail' section %}"><small>Current Month</small></a>
		{% endif %}
		 | 
		<a href="{% url 'schedule:section-monthly' section on_next_month.year on_next_month.month %}"><small>{{on_next_month|date:"F Y"}}</small></a>
    
    <div class="row">
	    <div class="col">
	      {% for section in section_list %}
	      


	      		{% status_in_working working_list section as status_list %}


				<h3>
					{{section}} 

					{% for s in status_list %}
						{% if s.status__count > 0 %}
							
							
								  {% if s.status == 'DRAFT' %}
								  	<a href="{% url 'schedule:section-status' section.name 'DRAFT' %}">
										<button type="button" class="btn btn-light">
										  Draft <span class="badge badge-light">{{s.status__count}}</span>
										</button>
									</a>
								  {% endif %}
								  {% if s.status == 'PRE_APPROVE' %}
								  	<a href="{% url 'schedule:section-status' section.name 'PRE_APPROVE' %}">
										<button type="button" class="btn btn-info">
										  Pre-Approve <span class="badge badge-light">{{s.status__count}}</span>
										</button>
									</a>
								  {% endif %}
								  {% if s.status == 'APPROVE' %}
								  	<a href="{% url 'schedule:section-status' section.name 'APPROVE' %}">
										<button type="button" class="btn btn-primary">
										  Approve <span class="badge badge-light">{{s.status__count}}</span>
										</button>
									</a>
								  {% endif %}

								  {% if s.status == 'ACKNOWLEDGE' %}
								  	<a href="{% url 'schedule:section-status' section.name 'ACKNOWLEDGE' %}">
										<button type="button" class="btn btn-warning">
										  Acknowledge <span class="badge badge-light">{{s.status__count}}</span>
										</button>
									</a>
								  {% endif %}

								  {% if s.status == 'ACCEPT' %}
								  	<a href="{% url 'schedule:section-status' section.name 'ACCEPT' %}">
										<button type="button" class="btn btn-success">
										  Accept <span class="badge badge-light">{{s.status__count}}</span>
										</button>
									</a>
								  {% endif %}

								  {% if s.status == 'REJECT' %}
								  	<a href="{% url 'schedule:section-status' section.name 'REJECT' %}">
										<button type="button" class="btn btn-danger">
										  Reject <span class="badge badge-light">{{s.status__count}}</span>
										</button>
									</a>
								  {% endif %}

								  {% if s.status == 'COMPLETE' %}
								  	<a href="{% url 'schedule:section-status' section.name 'COMPLETE' %}">
										<button type="button" class="btn btn-secondary">
										  Completed <span class="badge badge-light">{{s.status__count}}</span>
										</button>
									</a>
								  {% endif %}

						{% endif %}
					{% endfor %}
					

					


				</h3> 

				

				<table border=1 width="1024">
					<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>En</th>
		   				{% for i in now|range_days %}
		   					{% is_holiday now.year now.month i|add:1 as holiday %}
						    <th class="text-center">
						    	{% if perms.schedule.add_working %}
						    		{% if holiday %}
										<span class="fa-stack fa-1x">
										  <i class="fa fa-circle-o fa-stack-2x" style="color:blue"></i>
										  <span  class="fa fa-stack-1x"><a href="{% url 'schedule:section-daily' section.name now.year now.month i|add:1  %}">{{ forloop.counter }}</a></span>
										</span>
									{% else %}
										<a href="{% url 'schedule:section-daily' section.name now.year now.month i|add:1  %}">{{ forloop.counter }}</a>
									{% endif %}
						    			
						    	{% else %}
						    		{{ forloop.counter }}
						    	{% endif %}

						    </th>
						{% endfor %}
	 				</tr>
	 				</thead>
	 				<tbody>
					
						{% for em in section.employees.all|dictsort:"en"|dictsort:"team" %}
							<!-- CHeck existing in working, if No create all date -->
							{% get_working_by_month em.pk now.year now.month as list_working_date %}

							
							{% if em.pk != 1 %}
							
									<tr>
										<td>{{em.company}}</td>
										<td>{{em.first_name}}</td>
										<td><a href="{% url 'employee:employee-detail' em.pk %}">{{em.en|slice:"-4:"}}</a></td>
										
										
										{% for i in now|range_days %}
											<!-- Loop in working list -->
											<!-- Check in working list first -->
											{% if i|add:1 in list_working_date %}

													{% get_working em now.year now.month i|add:1 as user_working %}

												    {% if user_working %}
												    	

													    	{% if mode == 'status' or mode == 'ta' %}
														    	{% if mode == 'status' %}
															    	<td class="text-center">
														    			<a href='{% url "schedule:detail" user_working.pk %}?next={{ request.get_full_path| urlencode }}'>
														    			<span class="{{user_working.get_status_style}}">{{user_working.workingcode.name}}</span>
														    			</a>
															    	</td>
															    {% endif %}
															    {% if mode == 'ta' %}
					                                                  <!-- Time Atttendance Mode -->
					                                                  {% get_working_status user_working as working_status %}
					                                                  
					                                                  <td class="text-center">
					                                                    <a href='{% url "schedule:detail" user_working.pk %}?next={{ request.get_full_path| urlencode }}'>
					                                                      {% if working_status == 0 %}
					                                                            <i class="fa fa-certificate" aria-hidden="true" style="color:gray"></i>
					                                                      {% elif working_status == 1 %}
					                                                             <i class="fa fa-asterisk" aria-hidden="true" style="color:gray"></i>
					                                                      {% elif working_status == 2 %}
					                                                            <i class="fa fa-hourglass" aria-hidden="true" style="color:green"></i>
					                                                      {% elif working_status == 3 %}
					                                                          <i class="fa fa-hourglass" aria-hidden="true" style="color:orange"></i>
					                                                      {% elif working_status == 4 %}
					                                                          <i class="fa fa-hourglass-start" aria-hidden="true" style="color:red"></i>
					                                                      {% else %}
					                                                          <i class="fa fa-hourglass" aria-hidden="true" style="color:gray"></i>
					                                                      {% endif %}
					                                                    </a>
					                                                </td>
					                                            {% endif %}

												    																    

															  


														    {% else %}
														    	<td  {{user_working.get_working_style|safe}}> 
														    		<a href='{% url "schedule:detail" user_working.pk %}?next={{ request.get_full_path| urlencode }}'>
														    		{{user_working.workingcode.name}}
														    		</a>
														    	</td>
													    	{% endif %}
												    {% endif %}
											<!-- Not in working list -->
											{% else %}
												    	<!-- Check permission request_working -->
												    	{% if perms.schedule.add_working %}
															<td class="text-center"><a href='{% url "schedule:add" section.name em.en %}?year={{now.year}}&month={{now.month}}&day={{i|add:1}}&next={{ request.get_full_path| urlencode }}'>--</a></td>
														{% else %}
															<td>--</td>
														{% endif %}
												    

										    {% endif %}

										{% endfor %}

										
									</tr>
							{% endif %}



						{% endfor %}
					</tbody>
				</table>
				<!-- Show Working Code -->
				<table>

				{% for working in section.workingcodes.all|dictsort:"name" %}
					<tr>
						<td {{working.get_color_style|safe}}>{{working.name}}</td> <td>({{working.start_time}} to {{working.end_time}}) </td>
					</tr>
				{% endfor %}
				</table>

				{% if perms.schedule.add_working %}
					<br>
					<h3>Download/Upload Working information</h3>
					<a class="btn btn-info" role="button" href="{% url 'schedule:section-download' section.name now.year now.month %}?{% query_transform request %}">Download Working Template</a>
					<a class="btn btn-success" role="button" href="{% url 'schedule:section-upload' section.name now.year now.month %}">Upload Working Data</a>
				{% endif %}


				{% if perms.schedule.complete_working or perms.schedule.accept %}
			    	<br>
					<h3>Download Working for TigerSoft</h3>
					<a class="btn btn-warning" role="button" 
						href="{% url 'schedule:section-download-csv' section.name now.year now.month 'LCB1' %}">LCB1</a>
					<a class="btn btn-warning" role="button" 
						href="{% url 'schedule:section-download-csv' section.name now.year now.month 'LCMT' %}">
						LCMT</a>
			    {% endif %}



			{% endfor %} 
	    </div>
  	</div>

</div>
{% endblock content %}