{% extends "base.html" %}
{% load schedule_tag %}

{% block title %}
LCB1 & LCMT 
{% endblock %}


   {% block stylesheet %}
   <style type="text/css">
   table {
    max-width: 100%;
	}

    th {
    background-color: #C0DAFF;
    color: black;
	}



	</style>
    {% endblock stylesheet %}


{% block content %}
<div class="container">
	<h1>Department/Section List</h1>
	{% if perms.attendance.import_attendance_file or perms.attendance.process_attendance_file %}
		<h3><a href="{% url 'attendance:list' %}">Time Attendance Log.</a></h3>
	{% endif %}
	<div class="row">

		{% for d in department %}
			<div class="col-xs-12 col-sm-6 col-lg-4">
				
				<div class="list-group">
				  <button type="button" class="list-group-item list-group-item-action active">
				    {{d}}
				  </button>
				  {% for e in d.sections.all %}
 						
				 	 <a href="{% url 'schedule:section-detail' e.name %}" class="list-group-item disabled">{{e.name}}</a>
				  {% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
	<br>

	



</div>
{% endblock content %}
