{% extends "base.html" %}
{% load schedule_tag %}

{% block title %}
LCB1 & LCMT 
{% endblock %}




{% block content %}
<div class="container">
	{% next_month now as on_next_month %}
	{% previous_month now as on_previous_month %}
	<h1>Work schedule on {{now|date:"F Y"}}   

		{% if mode == 'status' %}
			<a href="{% url 'schedule:list' %}"><small><small><small>working code mode</small></small></small></a>
			<!-- <a href="?mode=None"><small><small><small>working code mode</small></small></small></a> -->
		{% else %}
			<a href="{% url 'schedule:list' %}?{{ request.GET.urlencode }}&mode=status"><small><small><small>status mode</small></small></small></a>
			<!-- <a href="?mode=status"><small><small><small>status mode</small></small></small></a> -->
		{% endif %}
	</h1>

		{% if hr_staff %}
			Select department :
			{% for department in department_list %}
				<a href="{% url 'schedule:department-list' department %}">{{department}}</a> |
			{% endfor %}
			<br>
		{% endif %}

		<a href="?year={{on_previous_month.year}}&month={{on_previous_month.month}}"><small>{{on_previous_month|date:"F Y"}}</small></a> | 
		{% if department %}
			<a href="{% url 'schedule:department-list' department %}"><small>Current Month</small></a>
		{% else %}
			<a href="{% url 'schedule:list' %}"><small>Current Month</small></a>
		{% endif %}
		 | 
		<a href="?year={{on_next_month.year}}&month={{on_next_month.month}}"><small>{{on_next_month|date:"F Y"}}</small></a>
    
    <div class="row">
	    <div class="col">
	      {% for section in section_list %}
	      		{% working_in_sction working_list section 'DRAFT' as status_draft %}
	      		{% working_in_sction working_list section 'PRE_APPROVE' as status_pre_approve %}
	      		{% working_in_sction working_list section 'APPROVE' as status_approve %}
	      		{% working_in_sction working_list section 'ACCEPT' as status_accept %}
	      		{% working_in_sction working_list section 'REJECT' as status_reject %}
	      		{% working_in_sction working_list section 'COMPLETE' as status_complete %}
	      		{% working_in_sction working_list section 'ACKNOWLEDGE' as status_acknowledge %}
				<h3>
					{{section}} 

					{% if status_draft > 0 %}
						<button type="button" class="btn btn-light">
						  Draft <span class="badge badge-light">{{status_draft}}</span>
						</button>
					{% endif %}

					{% if status_pre_approve > 0 %}
						<button type="button" class="btn btn-info">
						  Pre-Approve <span class="badge badge-light">{{status_pre_approve}}</span>
						</button>
					{% endif %}

					{% if status_approve > 0 %}
						<button type="button" class="btn btn-primary">
						  Approve <span class="badge badge-light">{{status_approve}}</span>
						</button>
					{% endif %}

					{% if status_acknowledge > 0 %}
						<button type="button" class="btn btn-warning">
						  Acknowledge <span class="badge badge-light">{{status_acknowledge}}</span>
						</button>
					{% endif %}

					{% if status_accept > 0 %}
						<button type="button" class="btn btn-success">
						  Accept <span class="badge badge-light">{{status_accept}}</span>
						</button>
					{% endif %}

					{% if status_reject > 0 %}
						<button type="button" class="btn btn-danger">
						  Reject <span class="badge badge-light">{{status_reject}}</span>
						</button>
					{% endif %}

					{% if status_complete > 0 %}
						<button type="button" class="btn btn-secondary">
						  Complete <span class="badge badge-light">{{status_complete}}</span>
						</button>
					{% endif %}

					


				</h3> 
				<table border="1">
					<tr>
						<th>Employee</th>
						<th>en</th>
		   				{% for i in now|range_days %}
						    <th>{{ forloop.counter }}</th>
						{% endfor %}
	 				</tr>
					<td>
						{% for em in section.employees.all|dictsort:"en" %}
							<tr>
								<td>{{em}}</td>
								<td>{{em.en}}</td>

								{% for i in now|range_days %}
									<!-- Loop in working list -->
									{% get_working working_list em now.year now.month i|add:1 as user_working %}
								    {% if user_working %}
								    	

								    	{% if mode == 'status' %}
								    		<td>
								    			<a href='{% url "schedule:detail" user_working.pk %}'>
								    			<span class="{{user_working.get_status_style}}">{{user_working.workingcode.name}}</span>
								    			</a>
								    		</td>
								    	{% else %}
								    	<td {{user_working.get_working_style|safe}} > 
								    		<a href='{% url "schedule:detail" user_working.pk %}'>
								    		{{user_working.workingcode.name}}
								    		</a>
								    	</td>
								    	{% endif %}
								    	
								    {% else %}
										<td><a href='{% url "schedule:add" section.name em.en %}?year={{now.year}}&month={{now.month}}&day={{i|add:1}}'>--</a></td>
										<!-- <td>--</td> -->
								    {% endif %}
								{% endfor %}

							</tr>
						{% endfor %}
					</td>
				</table>
				<!-- Show Working Code -->
				<table>
				{% for working in section.workingcodes.all %}
					<tr>
						<td {{working.get_color_style|safe}}>{{working.name}}</td> <td>({{working.start_time}} to {{working.end_time}}) </td>
					</tr>
				{% endfor %}
				</table>
			{% endfor %}
	    </div>
  	</div>
</div>
{% endblock content %}