{% extends "base.html" %}
{% load schedule_tag %}

{% block title %}
Create working
{% endblock %}




{% block content %}
	<div class="container">
		<h1>
			{% if object %}
				{{object.user}} on {{object.working_date}}
			{% else %}
				{{title}} 
			{% endif %}
		</h1>
		
		<div class="row">
	    	<div class="col">
	    		<h3>Working</h3>
				<form method="post">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <button type="submit" class="btn btn-primary">{{title}}</button>
			        {% if object %}
			        	{% if object.status == 'DRAFT' or object.status == 'REJECT' %}
			        		{% if perms.schedule.delete_working %}
			    				<a class="btn btn-danger" role="button" href="{% url 'schedule:delete' object.pk %}?next={{ next| urlencode }}">Delete</a>
			    			{% else %}
			    				No permission to delete
			    			{% endif %}
			    		{% endif %}
			    	{% endif %}
			    </form>
			    {% if object %}
			    	<h3>General Infomation</h3>
			    	<ul class="list-group list-group-flush">
			    		<li class="list-group-item">
			    				<h6>Status 
			    					<span class="{{object.get_status_style}}">{{object.status}}</span>

			    					{% if object.status == 'DRAFT' or object.status == 'REJECT' %}
			    						{% if perms.schedule.create_working %}
			    							<a class="btn btn-info" role="button" href="{% url 'schedule:process' object.pk 'PRE_APPROVE' %}?next={{next|urlencode}}">Send to Pre-Approve</a>
			    						{% endif %}
			    					{% endif %}

			    					{% if object.status == 'PRE_APPROVE' %}
			    						{% if perms.schedule.pre_approve_working %}
			    							<a class="btn btn-primary" role="button" href="{% url 'schedule:process' object.pk 'APPROVE' %}?next={{next|urlencode}}">Send to Approve</a>
			    						{% endif %}
			    					{% endif %}

			    					{% if object.status == 'APPROVE' %}
			    						{% if perms.schedule.approve_working %}
			    							<a class="btn btn-warning" role="button" href="{% url 'schedule:process' object.pk 'ACKNOWLEDGE' %}?next={{next|urlencode}}">Send to Payroll Officer</a>
			    						{% endif %}
			    					{% endif %}

			    					{% if object.status == 'ACKNOWLEDGE' %}
			    						{% if perms.schedule.accept_reject_working %}
				    						<a class="btn btn-success" role="button" href="{% url 'schedule:process' object.pk 'ACCEPT' %}?next={{next}}">Accept</a>
				    						<a class="btn btn-danger" role="button" href="{% url 'schedule:process' object.pk 'REJECT' %}?next={{next|urlencode}}">Reject</a>
			    						{% endif %}
			    					{% endif %}

			    					{% if object.status == 'ACCEPT' %}
			    						{% if perms.schedule.complete_working %}
			    							<a class="btn btn-secondary" role="button" href="{% url 'schedule:process' object.pk 'COMPLETE' %}?next={{next|urlencode}}">Complete</a>
			    						{% endif %}
			    					{% endif %}

			    				</h6>

			    				<!-- Show Button for move next -->






			    		</li>
						  <li class="list-group-item">Created on : {{object.created_date}}  ({{object.created_date|timesince}})</li>
						  <li class="list-group-item">Last update on : {{object.modified_date}} ({{object.modified_date|timesince}})</li>
					  
					 </ul>

			    {% endif %}
			</div>
			<div class="col">
				
				
						{% if object %}


					    	{% if object.get_attendance %}
					    		<h3>Time attendance</h3>
					    		<table class="table table-striped">
									<thead>
										<tr>
											<th>Date</th>
											<th>Stamp Date</th>
											<th>Machine</th>
											<th>Detail</th>
										</tr>
									</thead>
									<tbody>
					    		{% for ta in object.get_attendance %}
					    			<tr>
							    		<td>{{ta.stamp_date}}</td>
										<td>{{ta.stamp_time}}</td>
										<td>{{ta.source}}</td>
										<td>{{ta.stamp_status}}</td>
							    	</tr>
						    	{% endfor %}
						    	</tbody>
					    		</table>
						    {% endif %}

						    <h3>Logs</h3>
							<table class="table table-striped">
							<thead>
								<tr>
									<th>Date</th>
									<th>type</th>
									<th>Note</th>
									<th>By</th>
								</tr>
							</thead>
							<tbody>
					    	{% for log in object.logs.all %}
					    	<tr>
					    		<td>{{log.created_date}}</td>
								<td>{{log.log_type}}</td>
								<td>{{log.note}}</td>
								<td>{{log.user}}</td>
					    	</tr>
					    	{% endfor %}
					    	</tbody>
					    	</table>

					    {% endif %}

					    
				
			</div>

		</div>

	</div>
{% endblock content %}