{% extends "base.html" %}

{% block title %}
LCB1 & LCMT 
{% endblock %}




{% block content %}
<main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">LCB1 & LCMT</h1>
          <h1 class="display-3">Overtime Approval System</h1>
          <p></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Working Schedule</h2>
            <p>Schedule information.</p>
            <p><a class="btn btn-secondary" href="{% url 'schedule:section-list'%}" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Overtime</h2>
            <p>Overtime information.</p>
            <p><a class="btn btn-secondary" href="overtime" role="button">View detail &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Leave</h2>
            <p>Leave information</p>
            <p><a class="btn btn-secondary" href="leave" role="button">View details &raquo;</a></p>
          </div>
        </div>

      </div> <!-- /container -->
      </main>
{% endblock content %}