{% extends "base.html" %}
{% load schedule_tag %}

{% block title %}
Upload working
{% endblock %}




{% block content %}

	<div class="container">
		<h1>{{title}} on {{now|date:"F Y"}}
			
		</h1>

		<div class="row">
	    	<div class="col">

			 <form action="" enctype="multipart/form-data"  method="post">
			        <table>
			            {{ form.as_table }}
			        </table>
			        {% csrf_token %}
			        <br>
			        <input type="submit" value="Upload file">
			    </form>
			    <br>
			</div>
</div>	
	

{% endblock content %}